body {
  display: block;
  margin: auto;
  width: 2000px;
  margin-top: 30px;
}

p{
  margin-bottom: 0px !important;
}

.menu{
  width: 100%; 
  position: fixed; 
  top: 0px; 
}

.menu > div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 20px 10px 20px;
}

.menu > div > h1{
  margin-bottom: 0px;
  width: 100%;
}

.menu-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.3s;
}

.menu-item:hover{
  box-shadow: 2px 2px 5px grey;
  width: 101%;
  padding: 12px;
  font-size: 18px;
}

.board{
  display: block;
  margin: auto;
  height: 900px;
  width: 100%;
  z-index: 100;
}

.board > div{
  display: flex;
  margin: auto;
  min-width: 1000px;
  max-width: 2000px;
  height: 100%;
  align-items: center;
}

.square {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin: 0px;
}

#boardOuter {
  height: 900px;
  width: 900px;
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
}

#boardInner {
  border: solid 3px black;
  width: 803px;
  height: 804px;
  display: inline-flex;
  flex-wrap: wrap;
  margin: auto;
  position: relative;
}

#numberContainer {
  width: 800px;
  height: 100px;
  margin-left: 96px;
}

#letterContainer {
  width: 92px;
  display: inline-block;
  height: 800px;
  margin-top: 1px;
}

.label {
  width: 100px;
  height: 100px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.row {
  display: flex;
  width: 800px;
  height: 100px;
}

.piece {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1000;
  width: 100px;
  height: 100px;
  cursor: pointer;
  transition: top 0.3s, bottom 0.3s, left 0.3s;
  font-size: 60px;
}

.piece > div {
  width: 40px;
  height: 40px;
  border-radius: 50px;
}

.gutter {
  position: relative;
  width: 600px;
  height: 400px;
  display: block;
  margin: auto;
}

.takenPiece{
  display: inline-block;
  margin: 10px;
  position: relative !important;
}

.takenPiece p {
    text-align: center;
    width: 80px;
    margin: 0px;
}

.imagePreview{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 0.6;
  position: absolute;
  top: 25px; 
  margin-left: 11px;
}

.imagePreview > img{
  width: 200px; 
  height: 200px;
  display: block;
  margin: auto;
}